@keyframes fade-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin{
  0% {
		transform: rotate(0deg);
  }
  100% {
		transform: rotate(360deg);
  }
}

.Loader {
	display: block;
	margin: 120px auto;
	width: 60px;
	height: 60px;
	border: 10px solid #EEE;
	border-top: 10px solid #1abc9c;
	border-radius: 100%;
	animation: fade-in 300ms 1, spin 1s infinite;
}
