.Nav {
	min-height: 100px;
	width: 100%;
	// padding: 20px;
	// margin-top: -50px;
	background-color: rgba(101, 92, 110, 1);
	// position: fixed;
	// text-align: right;
}

.Nav-link {
	font-size: 24px;
	padding: 20px;
	text-decoration: none;
}

.cart {
	height: 100px;
}

.cart-icon {
}
